<div class='container mt-5'>
  <div class='row'>
    <h2>会員一覧</h2>
  </div>
  <div class="row mt-4">
    <div class="col">
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td><!--メアド-->
              <td><!--有効、退会ステータス-->
                  <% if customer.is_deleted === false %>
                    <strong class="text-success">有効</strong>
                  <% else %>
                    退会
                  <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
  <div class="mt-5">
    <%= paginate @customers %>
  </div>
</div>