<h4>注文情報確認</h4>

<table class="table">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <tr>
    <td>チョコバナナミルフィーユ</td>
    <td>1,100</td>
    <td>1</td>
    <td>1,100</td>
  </tr>
</table>

<table class="table">
  <tr>
    <td>送料</td>
    <td>800</td>
    <td>商品合計</td>
    <td></td>
    <td>請求金額</td>
    <td></td>
  </tr>
</table>

  <div><strong>支払方法</strong></div>

  <div><strong>お届け先</strong></div>
