<div class="container my-5 px-5 px-sm-0">
    <div class="col">
        <div class="mb-4">
          <h4 class="d-inline bg-light"><%= title %></h4>
        </div>
        <%= yield %>
    </div>
</div>